.button-row {
  text-align: center;
  justify-content: space-around;
}
button {
    margin: 5px; padding: 10px 10px;
    border: 0 none; border-radius: 4px;
    font-size: 14px; font-weight: 600;
    color: #fff; background-color: #444; }
button:hover { background-color: #555; }
button:disabled { background-color: #08b; }

.legend {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

/* Layers */
.layerContainer {
    position: relative; padding: 0;
    margin: auto; text-align: center; }
.imageLayer {
    position: absolute;
    left: 0px; }

/* drag&drop */
.dropBox {
    border: 5px dashed #ccc;
    margin: auto; text-align: center; }
.dropBox.hover { border: 5px dashed #cc0; }
