#dwv {
  height: 90%;
  display: flex;
  flex-direction: column;
}

/* Layers */
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 0;
}
.layer {
  position: absolute;
  pointer-events: none;
}

/* Info layer */
.infoLayer {
  position: absolute;
  pointer-events: none;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.infoLayer ul {
  margin: 0;
  padding: 2px;
  list-style-type: none;
}
.infoLayer li {
  margin-top: 0;
}
.infoLayer canvas {
  margin: 0;
  padding: 2px;
}
.info {
  font-size: 80%;
  max-width: 50%;
  max-height: 50%;
  overflow: auto;
}
/* position indicators (c, tl, tc, bl...)
  need to be in sync with those defined
  in the overlay.json file */
/* center */
.info-c {
  font-size: 120%;
}
/* top left */
.info-tl {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
/* top center */
.info-tc {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  text-align: center;
}
/* top right */
.info-tr {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
/* center left */
.info-cl {
  position: absolute;
  bottom: 50%;
  left: 0;
  text-align: left;
}
/* center right */
.info-cr {
  position: absolute;
  bottom: 50%;
  right: 2px;
  text-align: right;
}
/* bottom left */
.info-bl {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
}
/* bottom center */
.info-bc {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  text-align: center;
}
/* bottom right */
.info-br {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

/* select-wraper */
.select-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-wrapper select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
}
.select-wrapper button {
  height: 40px;
  padding: 0;
  margin: 0 0 0 1px;
}
.select-wrapper select:enabled:hover {
  cursor: pointer;
}

/* drag&drop */
.dropBox {
  margin: auto;
  text-align: center; vertical-align: middle;
  width: 50%; height: 75%; }
.dropBoxBorder {
  border: 5px dashed #e8eaf6; /*indigo:light*/ }
.dropBoxBorder:hover {
  border: 5px dashed #3f51b5; /*indigo*/  }
#input-file-link {
  text-decoration-line: underline;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.toolbar-item {
  margin: 10px 3px;
  height: 40px;
  width: 44px;

  display: flex;
  align-items: center;
  gap: 0;
}
.toolbar-item button {
  height: 100%;
  /*border-radius: 4px;*/
  padding: 10px;
}
/* content */
.content {
  /* occupy space left by header and footer */
  flex: 1;
  min-height: 0;
  display: flex;
}
/* footer */
.footer {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}