/* Style for the whole tagstable section */

.tagsTable > form.uk-search.uk-search-default {
  margin: auto;
  display: flex;
}

.tableHeadRow > th {
  text-align: center;
}

.tableBodyRow > td {
  font-size: 14px;
}

table.dataTable {
  margin-left: 20px;
  margin-right: 20px;
}